{{! 
1. show channle name
2. show profile picture?
3. show subsribers
4. show total views
5. show subscribed channel
}}

<p>username: </p>
<p>{{username}}</p>
<p>subscriber: </p>
<p>{{subscriber}}</p>
<p>total views: </p>
<p>{{totalviews}}</p>
<p>subscribed channels: </p>
<p>{{subscribedChannels}}</p>
<p>videos: </p>
<p>{{videosID}}</p>