<div class="row comment-item" data-id="{{_id}}" data-add="false" data-open="false">
    <h3>{{ author }}</h3>
    <p>{{ content }}</p>

    <p>Like: {{Like}} Dislike: {{Dislike}} Comment Data: {{commentDate}}</p>
    
    <a class="addReply">Add a reply</a>
    <a class="seeReply" data-id="{{_id}}">See replies</a>

    <div id ="reply-form-area"> 
    </div>

    <div id ="list-replies-area">
    </div>
</div>

