<nav>
    <a href="http://localhost:3000/videoFeedRoutes/">Home</a> |
    <a href="http://localhost:3000/videoFeedRoutes/upload">UPLOAD</a> |
    <a href="http://localhost:3000/videoFeedRoutes/popularVideos">POPULAR</a>|
    <a href="http://localhost:3000/subscribedChannel">Subscribed Channels</a>|
    <a href="http://localhost:3000/videoFeedRoutes/history">HISTORY</a> |
    <a href="http://localhost:3000/videoFeedRoutes/setting">SETTING</a> |
    <a href="http://localhost:3000/channel/delete">DELETE</a> |
    <a href="/logout">Logout</a>
    <form action="/api/posts/searchvideo" method="POST" class="search-video">
    <label for="search-for-video">
      Search
      <input type="text" name="searchVideoName" id="search-for-video" placeholder="Video Title" />
    </label>
    <button type="submit">Submit</button>
  </form>
</nav>
<h1>{{title}}</h1> {{!--home--}}
<main>
        {{#each video}}
            <a href="/watch/{{s3Name}}"> <h2>{{videoTitle}}</h2></a>
            <video width="320" height="240" controls> 
                <source src={{imageUrl}} type="video/mp4">
                <source src={{imageUrl}} type="video/ogg">
                Your browser does not support the video tag.
            </video>
        {{/each}}
</main>