{{!-- things need to show

1. video_id <ObjectId> The id of the video that the stat is about
2. Title String The title of the video
3. Views number # of views the video has
4. Like number Identifies the # of likes a
5. Dislike number Identifies the # of dislikes
6. a video has Comment array Ids of all the comments 

 --}}

<section>
    <h1>Stats for {{videoTitle}}</h1>

    <p>video_id = {{videoId}}</p>

    <p>Views = {{views}}</p>

    <p>Like = {{likes}}</p>

    <p>Dislike = {{dislikes}}</p>

    <p>CommentsId = {{commentsid}}</p>

</section>
 