<nav>
    <a href="http://localhost:3000/videoFeedRoutes/">Home</a> |
    <a href="http://localhost:3000/videoFeedRoutes/upload">UPLOAD</a> |
    <a href="http://localhost:3000/videoFeedRoutes/popularVideos">POPULAR</a>|
    <a href="http://localhost:3000/videoFeedRoutes/history">HISTORY</a> |
    <a href="http://localhost:3000/channel/delete">DELETE</a> |
    <a href="/logout">Logout</a>
    <form action="/api/posts/searchvideo" method="POST" class="search-video">
    <label for="search-for-person">
      Search
      <input type="text" name="searchVideoName" id="search-for-video" placeholder="Video Title" />
    </label>
    <button type="submit">Submit</button>
  </form>
</nav>
<h1>{{title}}</h1> {{!--Video Uploader--}}
<main>
    <p>This site finds people in stevens institute of tech. It allows you to get their personal details </p>
    <form method = "POST" action="/api/posts" enctype="multipart/form-data">
        
        <label for="videoUploader"> Upload Video:  </label>
        <input type="file" name="video" id="videoUploader">
        <label for="videoTitle"> Title:  </label>
        <input type="text" name="videoTitle" id="videoTitle">
        <button type="submit">Submit</button>
        
    </form>

    


    <p>username: </p>
    <p>{{username}}</p> 
    <p>subscriber: </p>
    <p>{{subscriber}}</p>
    <p>total views: </p>
    <p>{{totalviews}}</p>
    <p>subscribed channels: </p>
    {{#each subscribedChannels}}
        <p>{{subscribedChannels}}</p>
    {{/each}}
    <p>videos: </p>
    {{#each channelPosts}}
        <h2>{{videoTitle}}</h2>
        <form method = "POST" action="/api/posts/changeName">
            <input type="hidden" name="s3Name" value={{s3Name}}>
            <label for="videoTitle"> Rename Title:  </label>
            <input type="text" name="videoTitle" id="videoTitle">
            <button type="submit">Submit</button>
        </form>

        <form action="/api/posts/delete" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="s3Name" value={{s3Name}}>
            <input type="submit" value="Delete">
        </form>
        
            <video width="320" height="240" controls> 
                <source src={{imageUrl}} type="video/mp4">
                <source src={{imageUrl}} type="video/ogg">
                Your browser does not support the video tag.
            </video>
    {{/each}}
</main>
