<nav>
    <a href="http://localhost:3000/videoFeedRoutes/">Home</a> |
    <a href="http://localhost:3000/videoFeedRoutes/upload">UPLOAD</a> |
    <a href="http://localhost:3000/videoFeedRoutes/popularVideos">POPULAR</a>|
    <a href="http://localhost:3000/subscribedChannel">Subscribed Channels</a>|
    <a href="http://localhost:3000/videoFeedRoutes/history">HISTORY</a> |
    <a href="http://localhost:3000/videoFeedRoutes/setting">SETTING</a> |
    <a href="http://localhost:3000/channel/delete">DELETE</a> |
    <a href="/logout">Logout</a>
    <form action="/api/posts/searchvideo" method="POST" class="search-video">
    <label for="search-for-video">
      Search
      <input type="text" name="searchVideoName" id="search-for-video" placeholder="Video Title" />
    </label>
    <button type="submit">Submit</button>
  </form>
</nav>
<h1>{{title}}</h1> {{!--Watch--}}
<div >
    <h1>Channel Name: {{username}}</h1>
    <h2>{{videoTitle}}</h2>
    
    <video width="320" height="240" controls> 
        <source src={{imageUrl}} type="video/mp4">
        <source src={{imageUrl}} type="video/ogg">
        Your browser does not support the video tag.
    </video>
    
    <p>Views: {{Views}} <a class="vLike {{vToggleLike}}">Like:</a> <span class="videoNumLikes">{{vNumLikes}}</span> <a class="vDislike {{vToggleDislike}}">Dislike:</a> <span class="videoNumDislikes">{{vNumDislikes}}</span></p>
    
    <div class="col-sm-12 col-md-4">
        <form id="new-comment-form">
            <label>Add a comment: <textarea id="new-comment-description"></textarea></label>
            <input type="hidden" name="videoId" value={{_id}}>
            <input type="submit" value="add new comment" />
        </form>
    </div>
    <div id ='comment-area'>
        {{#each commentArray}} {{> comments }} {{/each}}
    </div>
    <br>
    <a href="http://localhost:3000/subscribedChannel/{{channelId}}">Subscribe to the channel to see more videos!</a>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="/public/js/basic_ajax_with_jquery.js"></script>
</div>